@tailwind base;
@tailwind components;
@tailwind utilities;

/* Old Scheme https://coolors.co/030027-183159-2d628b-f6efe0-faf7ef-eb5c76 */

@layer base {
    :root {
        /* We have 3 colors: The palette for background (light), for foreground (dark), and for accent
    - Beige for background
    - Blue for foreground
    - Red for accent

    These all have the same saturation (80%)
    */

        --h-bg: 32;
        --h-blue: 225;
        --h-red: 10;
        --sat-blue: 60%;
        --sat-red: 80%;
        --lum-blue: 30%;
        --lum-red: 50%;
        --sat-bg: 60%;

        --primary: var(--h-blue) var(--sat-blue) var(--lum-blue);
        --secondary: var(--h-red) var(--sat-red) var(--lum-red);
        --destructive: var(--secondary);

        /* Backgrounds (lightest to darkest)*/
        --muted: var(--h-bg) var(--sat-bg) 91%;
        --background: var(--h-bg) var(--sat-bg) 95%;
        --card: var(--h-bg) var(--sat-bg) 99%;
        --popover: var(--card);

        /* Foregrounds (lightest to darkest)*/
        --muted-foreground: var(--h-blue) 10% 60%; /*var(--h-blue) 30% 70%;*/
        --foreground: var(--h-blue) var(--sat-blue) 10%;
        --card-foreground: var(--foreground);
        --popover-foreground: var(--foreground);

        --primary-foreground: var(--card);
        --secondary-foreground: var(--card);
        --destructive-foreground: var(--secondary-foreground);

        /* Borders (lightest to darkest)*/
        --border: transparent;
        --input: var(--foreground);
        --ring: var(--foreground);

        /* Custom dark background color */
        --dark-bg: rgb(3, 11, 24);

        --radius: 0.75rem;
    }
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
    * {
        @apply border-border;
    }
    /* Add global typography styles */
    body {
        @apply bg-background text-foreground;
        /* Default letter spacing for the entire site if desired */
        @apply tracking-normal;
    }
}

@layer utilities {
    .bg-dark-bg {
        background-color: var(--dark-bg);
    }

    .accent-style {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.25em;
    }
}

.pulse-animation {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
