@tailwind base;
@tailwind components;
@tailwind utilities;

/* Old Scheme https://coolors.co/030027-183159-2d628b-f6efe0-faf7ef-eb5c76 */

@layer base {
    :root {
        /* We have 3 colors: The palette for background (light), for foreground (dark), and for accent
    - Beige for background
    - Blue for foreground
    - Red for accent

    These all have the same saturation (80%)
    */

        --h-bg: 32;
        --h-blue: 225;
        --h-red: 10;
        --sat-blue: 60%;
        --sat-red: 80%;
        --lum-blue: 30%;
        --lum-red: 50%;
        --sat-bg: 60%;

        --primary: var(--h-blue) var(--sat-blue) var(--lum-blue);
        --secondary: var(--h-red) var(--sat-red) var(--lum-red);
        --destructive: var(--secondary);

        /* Backgrounds (lightest to darkest)*/
        --muted: #10263f;
        --light-background: #145ea3;
        --background: #0e406f;
        --dark-background: #02223f;
        --card: #10263f;
        --popover: var(--card);

        /* Foregrounds (lightest to darkest)*/
        --muted-foreground: #faf7ef;
        --foreground: #faf7ef;
        --card-foreground: var(--foreground);
        --popover-foreground: var(--foreground);

        --primary-foreground: #10263f;
        --secondary-foreground: #10263f;
        --destructive-foreground: #030b18;

        /* Borders (lightest to darkest)*/
        --input: #faf7ef;
        --border: #faf7ef60;
        --ring: #faf7ef;

        --radius: 0.75rem;
    }
}

@layer base {
    html {
        scroll-behavior: smooth;
    }
    * {
        @apply border-border;
    }
    /* Add global typography styles */
    body {
        @apply bg-background text-foreground;

        /* Default letter spacing for the entire site if desired */
        @apply tracking-normal;
    }
}

@layer utilities {
    .bg-dark-bg {
        background-color: var(--dark-bg);
    }

    .accent-style {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 0.25em;
    }

    .home-gradient {
        background-image: linear-gradient(
            to bottom,
            var(--light-background) 0%,
            var(--background) 50vh,
            var(--dark-background) 100vh,
            var(--dark-background) 100%
        );
    }
}

.pulse-animation {
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
